Source: brann-artwork
Section: x11
Priority: optional
Maintainer: Omar Jair Purata Funes <omarpurataf@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/BrannAR/brann-artwork
Vcs-Browser: https://github.com/BrannAR/brann-artwork
Vcs-Git: https://github.com/BrannAR/brann-artwork.git

Package: brann-artwork
Architecture: all
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
Description: BrannAr themes and artwork
 This package contains Brann themes and artwork.
